 <br />
      <div
        style="color:#32a060;  align-items: center; padding: 5px 10px;">
        <small style="display: block;">Enviado por <strong>Tools App</strong></small>
        <small style="display: block;">In-Haus - Logística</small block;>
      </div>
