 Olá, <strong style="color: #32a061;">{{ authorizing.name }}</strong>
      <p>
        Foi liberado a retirada de uma ferramenta em seu nome, confira os
        detalhes abaixo:
      </p>
      <ul>
        <li><strong>Solicitante: </strong>{{client.name}}</li>
        <li><strong>matricula: </strong>{{client.register}}</li>
        <li><strong>Empresa: </strong>{{client.company.name}}</li>
      </ul>
      <p
        style="font-style: italic; display: block; font-size: smaller; color: #32a061;"
        ><strong style="color: #222;">Obs: </strong>Em caso de você não tiver
        liberado a retirada de ferramntas, para o solicitante acima, favor
        contatar os responsáveis.
      </p>
